.coming-soon-container {
    margin: 50px auto;
}

@media only screen and (max-width: 767px) {
    .coming-soon-container {
        width: 90%;
        margin: 50px auto;
    }
    .coming-soon-pic {
        width: 100%;
    }
  }